DEBUG_MODE=your_debug_mode_value_true_or_false_
TRANSMITTER_SERVER_HOST=your_transmitter_server_host_value
TRANSMITTER_SERVER_PORT=your_transmitter_server_port_value
RECEIVER_SERVER_HOST=your_receiver_server_host_value
RECEIVER_SERVER_PORT=your_receiver_server_port_value